body {
	background-color: #f0f7f4;
	font-color: #3c493f;
	}
	
.left {
	background-color: #a2e3c4;
	border-radius: 5px;
	float: left;
	width: 20%;
	height: 98%;
	position: fixed;
	}
	
.right {
	float: right;
	width: 75%;
	padding-right: 20px;
	}

a:link, a:visited {
    color: #7e8d85;
}

a:hover, a:active {
    color: #b3bfb8;
}


.nav {
	background-color: #7e8d85;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 14%;
	margin-right: 17%;
	width: 66%;
	font-size: 1.5rem;
	color: #7e8d85;
	border-radius: 5px;
	display: block;
	padding: 5px;
	text-align: center;
	}

 a.nav:link, a.nav:visited {
	color: #b3bfb8;
	text-decoration: none;
	}
	
a.nav:hover, a.nav:active {
	color: #3c493f;
	text-decoration: none;
	}
