{% extends "base.html" %}
{% block content %}
	<h1>{{title}}</h1>
	<form method="post">
		<table style="margin-top: 30px">
			<tr>
				<td>
				<label for="title">Title for new post: </label>
				</td>
				<td>
					<input type="text" name="title" size="50" maxlength="50" value="{{request.form['title']}}" />
				</td>
			</tr>
			<tr>
				<td valign="top">
				<label for="body">Content for new post: </label>
				</td>
				<td>
					<textarea rows="5" cols="50" maxlength="255" name="body">{{request.form['body']}}</textarea>
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
				<input style="float: right;" type="submit" value="Add Post" />
				</td>
			</tr>
		</table>
	</form>
{% endblock %}
